html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient( 90deg, rgba(231, 8, 112, 1) 0%,  rgba(255, 15, 15, 1) 100% );
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}