.movie-wrap {
  display: flex;
}

@media only screen and (max-width: 650px) {
  .movie-wrap {
    display: flex;
    flex-direction: column;
  }
}

.edit-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-block {
  background-color: #03045e;
  color: #ffffff;
}

.btn-block:hover {
  background-color: #03045e;
  color: #ffffff;
}
